html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../img/bg_car.png");
    background-size: cover;
    background-color: transparent;
    box-sizing: border-box;
}
.wrapper{
    width: 1170-width;
    margin: 50px;
}
.race {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size:  30px;
}
.game-timer {
    visibility: hidden;
    color: rgb(48, 13, 165);
    font-size: 36px;
    font-weight: 400px;
    line-height: 24px;
    position: fixed;
    left: 600px;
    top: 10px;
    background: transparent;
    border: none;
    padding: 0;   
}
.label-game-timer {
    color:rgb(48, 13, 165);
    font-size: 36px;
    font-weight: 400px;
    line-height: 24px;
    visibility: hidden;
    position: fixed;
    left: 340px;
    top: 10px;
}
.info-high-low-speed{
    display: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    border: 1px solid #2B4C5C;
    width: 304px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
    margin-right: 24px;
    margin-left: 10px;
    color: #1B1D1F;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;       
}
.game-button {
    visibility: hidden;
    position: fixed;
    left: 210px;
    top: 0;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}
.game-button img {
    width: 50px;
    height: 50px;
}
.game-button .play{
    background: transparent;
    border: none;
    display: none;
}
.game-button .pause {
    background: transparent;
    border: none;
}
.form {
    border-radius: 40px;
    background: #ECF4F8;
    width: 1170px;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box;   
    text-align: center;
}
.form-title {
    color: #1B1D1F;
    font-size: 34px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 40px;
}
.form-field{
    border-radius: 12px;
    border: 1px solid #2B4C5C;
    width: 304px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
    margin-right: 24px;
    color: #1B1D1F;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px
}

.form-submit-btn {
    border-radius: 12px;
    background: #ff6b0a;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
    border: none;
    width: 150px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.start-btn {
    border-radius: 12px;
    background: #ff6b0a;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
    border: none;
    width: 300px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    float: right;
}
.reload-btn {
    border-radius: 12px;
    background: #ff6b0a;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
    border: none;
    width: 300px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    float: right;
    display: none;
}
div {
    text-align: center;
}